*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* box-1 */
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("/PROJECT/img/logoamz.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box-2 */
.add1{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.add2{
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search:hover{
    border: 2px solid yellow;
}
/* box-3 */
.nav-search{
    display:flex ;
    /* background-color: rgb(127, 127, 236); */
    width: 442px;
    height: 40px;
    border-radius: 6px;
    justify-content: space-evenly;
}

.search-select{
    background-color: #E6E6E6;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    width: 55px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.slogo{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #fedb68;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color:#0f1111 ;
}

/* box-4 */
span{
    font-size: 0.7rem;
}

.div-signin{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box-5 */
.nav-cart i{
    font-size : 32px;
}

.nav-cart{
    font-size: 0.9rem;
    font-weight: 600;
}


.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    color: white;
    width: 40px;
    display: flex;
}

.panel-option{
    color: white;
    width: 90%;
    font-size: 0.85rem;
}

.panel-option p{
    display: inline;
    margin-left: 10px;
}


/* Image section */
.guideimg{
    background-image: url("img/guide.jpg");
    background-size: cover;
    height: 32px;
    width: 96%;
    margin-left: 22px;
}

.heroimg{
    background-image: url("img/hero.jpg");
    background-size:cover;
    height: 190px;
    width: 96%;
    display: flex;
    margin-left: 22px;    
}


/* shop-section */

.shoping{
    display: flex;
    background-color: #e2e7e6;
    padding: 20px;
    gap: 10px;
}

.box{
    border: 2px solid black;
    width:  145px;
    
}



.box1{
    width: 634px;
    height: 308px;
    background-image: url("img/under.jpg");
    background-size: cover;
}

.top-right{
    display: flex;
    height: 144px;
    gap: 10px;
    
}
.bottom-right{
    display: flex;
    height: 144px;
    gap: 10px;
    margin-top: 23px;
}
.box2{
    background-image: url("img/under2.jpg");
    background-size: cover;

}
.box3{
    background-image: url("img/under3.jpg");
    background-size: cover;
}
.box4{
    background-image: url("img/under4.jpg");
    background-size: cover;
}
.box5{
    background-image: url("img/under5.jpg");
    background-size: cover;
}

/* fotter */
footer{
    margin-top: 15px;
}
.footpanel{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
}
.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #eeeeee;
}
ul{
    margin-top: 20px;
}

.footpanel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("img/logoamz.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footpanel4{
    background-color: #0f1111;
    color: white;
    height: 70px;
    text-align: center;
}
.pages{
    font-size: 0.8rem;
    padding-top: 15px;
}
.copyright{
    font-size: 0.7rem;
    padding-top: 5px;
}