div {
    height: 200px;
    width: 200px;
    background-color: rgb(155, 153, 154);
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 500px;
    /* animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction:alternate; */
    animation: colorAnimate 6s ease-in 1s 5 normal;
}

/* @keyframes colorAnimate {
    from {
        background-color: rgb(155, 153, 154);
        left: 0px;
    }

    to {
        background-color: bisque;
        left: 200px;

    }
} */

/* animation property */
/* animation 1=name 2=duration 3=timing-fun 4=delay 5=iteration-count 6=direction */


@keyframes colorAnimate {
    0% {
        background-color: rgb(155, 153, 154);
        left: 0px;
    }

    80%{
        background-color: blueviolet;
    }

    100% {
        background-color: bisque;
        left: 400px;

    }
}
