div{
    background-color: rgb(34, 81, 87);
    height: 250px;
    width: 250px;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(6);
    transition-delay: 0.3s; */

    /* SHORT CUT */
    transition: all 2s steps(6) 0.3s;
}

div:hover{
    background-color: rgb(66, 35, 68);
    height: 260px;
    width: 260px;
    color: aquamarine;
    font-size: 30px;
}

/* Click karte samay  */
div:active{
    background-color: rgb(111, 111, 112);
}