div{
    height: 100px;
    width: 400px;
    background-color: rgb(154, 134, 210);
    border-width: 2px;
    border-style:solid;
    border-color: rgb(16, 17, 17);
    text-align: center;
    border-radius:25px ;
    margin-top: 10px;
    margin: 50px 400px 50px 60px;
}
h1{
    border: 2px solid brown;
    background-color: bisque;
    width: 300px;
    height: 60px;
    padding-left: 25px;
    /* padding top-right-bottom-left (clockwise)*/
    padding: 10px 20px 10px 25px;
}
p{
    display: inline;
    /* inline block if we donot want to change its property like margin padding */
}