h1{
    color: rgb(31, 86, 167);
}
p{
    color: rgb(90, 131, 220);     
}
button{
    color: rgb(185, 211, 35);
    background-color: rgb(235, 90, 90);
}
body{
    background-color: rgb(173, 191, 191);
}
#heading2{
    color: blueviolet;
}
.simple{
    color: chocolate;
}