p{
    text-align:start ;
}
h1{
    text-align: center;
    text-decoration: underline;
    /* similar overline for above text line and line-through for 
    kisi chij ko kat ke dikhana ha is text decoration property */
}
/* if we want our text to start with left as usual for eng and hindi 
we put text allignment to "start" and if we want from right then
we put text allingnment to "end"and this whole thind is opposite 
for the language which start from right to left eg - urdu */
#h1{
    font-weight: normal;
}
#h2{
    font-weight: bold;
}
#h3{
    font-weight: bolder;
}
#h4{
    font-weight: lighter;
}
#one{
    font-family: 'Courier New', Courier, monospace;
}
#two{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 30px;
    text-transform: uppercase;
}
#three{
    font-size: 34px;
}