div{
    height: 300px;
    width: 200px;
    background-color: rgb(27, 119, 150);
}

@media (width : 600px) {
    div{
        background-color: black;
    }
}

@media (min-width : 800px) {
    div{
        background-color: blueviolet;
    }
}

@media (max-width : 400px) {
    div{
        background-color: rgb(27, 142, 62);
    }
}

@media (min-width : 100px)and (max-width:500px) {
    div{
        background-color: rgb(70, 69, 74);
    }
}